@inherits LayoutComponentBase
<div class="page">
    <MudLayout>
        <AppBar OnSidebarToggled="ToggleSidebar" />
        <MudMainContent Class="mx-auto accordion">
            <MudContainer Class="my-auto">
                <div class="IBGCrosscheckPattern">
                    @Body
                </div>
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>

<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />
<MudDialogProvider Position="DialogPosition.Center" CloseButton="true" DisableBackdropClick="true" />
