<MudDrawer @bind-Open="SideBarOpen" Elevation="1" Class="">
    <MudDrawerHeader>
        <MudAvatar Size="Size.Large" Image="website.png" />
        <MudText Typo="Typo.h6" Color="Color.Error" Style="margin-top:10px; margin-left:15px;">
            <div class="">
                Illegible CMS
            </div>
        </MudText>
    </MudDrawerHeader>
    <MudNavMenu Class="">
        <MudNavLink Href="/" Match="NavLinkMatch.All" Class="">
            <div class="row">
                <div class="col-2">
                    <MudIcon Icon="fas fa-igloo" />
                </div>
                <div class="col-9">
                    <MudText Typo="Typo.h6">
                        <div class="">
                            Home
                        </div>
                    </MudText>
                </div>
            </div>
        </MudNavLink>
        <MudNavLink Href="/IllegibleAdminDashboard" Class="">
            <div class="row">
                <div class="col-2">
                    <MudIcon Icon="fas fa-toolbox" />
                </div>
                <div class="col-9">
                    <MudText Typo="Typo.h6">
                        <div class="">
                            Dashboard
                        </div>
                    </MudText>
                </div>
            </div>
        </MudNavLink>
        <MudNavLink Href="/IllegibleBlog" Class="">
            <div class="row">
                <div class="col-2">
                    <MudIcon Icon="fas fa-blog" />
                </div>
                <div class="col-9">
                    <MudText Typo="Typo.h6">
                        <div class="">
                            Illegible Blog
                        </div>
                    </MudText>
                </div>
            </div>
        </MudNavLink>
        <MudNavLink Href="/products" Class="">
            <div class="row">
                <div class="col-2">
                    <MudIcon Icon="fas fa-store" />
                </div>
                <div class="col-9">
                    <MudText Typo="Typo.h6">
                        <div class="">
                            Products
                        </div>
                    </MudText>
                </div>
            </div>
        </MudNavLink>
        <MudNavLink Href="application/chat" Class="">
            <div class="row">
                <div class="col-2">
                    <MudIcon Icon="far fa-comments" />
                </div>
                <div class="col-9">
                    <MudText Typo="Typo.h6">
                        <div class="">
                            Illegible Chat
                        </div>
                    </MudText>
                </div>
            </div>
        </MudNavLink>
        <MudNavGroup Title="User Helpers" Class="" Icon="far fa-address-card" Expanded="true">
            <MudNavLink Href="/logout" Class="" Icon="fas fa-sign-out-alt">Sign Out</MudNavLink>
            <MudNavLink Href="/login" Class="" Icon="fas fa-sign-in-alt">Sign In</MudNavLink>
            <MudNavLink Href="/registration" Class="" Icon="fas fa-user-plus">Sign Up</MudNavLink>
            <MudNavLink Href="/personal/account" Class="" Icon="fas fa-user-cog">Account Dashboard</MudNavLink>
            <MudNavLink Href="#" Class="" Icon="fas fa-clipboard-list">To Do</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</MudDrawer>